#title{
  background-color: #ffa07a;
}


.title-image{
  width: 80%;
  border-radius: 50%;
}

h1{
  font-family: Georgia, 'Times New Roman', Times, serif;

}

p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #8f8f8f;
}

.container-fluid{
  padding: 3% 15%;
}


#features{
  padding: 3% 15%;
}

h3{
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.feature-box{
  color: #ffa07a;
}

h5{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#slides{
  background-color: peru;
  text-align: center;
  padding: 5%;
}

.slides-image{
  width: 50%;
  border-radius: 50%;
  padding: 10%;
}